/* Estilos body */
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Aplicamos estilos al encabezado (header) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    color: #fff;
    padding: 10px;
}

a{
    text-decoration: none;
}
a:visited{
    color:#EEEEEE;
}

/* Estilos para el logo */
.logo img {
    max-width: 100px; /* Ajusta el tamaño según tu necesidad */
}

/* Estilos para los enlaces */
.enlaces {
    flex: 1; /* Los enlaces ocuparán el espacio restante en el centro */
    text-align: center;
}

.enlaces a {
    color: #fff;
    margin: 0 20px; /* Espacio entre enlaces */
    font-size: 20px;
}

/* Estilos para el botón de inicio de sesión */
.login a {
    background-color: #d31dda;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.login a:hover {
    background-color: #4f0e52; /* Cambia el color al pasar el ratón sobre el botón */
}

/* Estilos de la sección de Index */
.titulo{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #d31dda;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.producto {
    background-color: #24221ebd;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.producto img {
    max-width: 100%;
}

/* Botones Secciones */
.button_slide {
    color: #21a2ac;
    border: 2px solid #ffdd20;
    border-radius: 0px;
    padding: 18px 36px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #770d0d;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #810606;
}
  
#outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
}



/* Estilos Login y Register */

.centrar-formulario{
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.formulario {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 800px; /* Ancho del formulario */
}

/* Agregamos margen automático (auto) para centrar horizontalmente */
.formulario form {
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #00a6eb;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 90%;
    padding: 20px;
    background-color: #333;
    border: none;
    color: #000000;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    background-color: #00a6eb;
    outline: none;
}

.boton button {
    background-color: #1e2e31;
    color: #fff;
    border: none;
    padding: 25px 250px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
.boton button:hover {
    background-color: #513968;
}
.invited{
    margin-top: 30px;
}
.not-user{
    margin-top: 50px;
}


/* Pagina Sobre nosotros */
h2{
    font-size: 2em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
}

/* Estilos del footer */
footer {
    padding: 0;
    margin-top: 150px;
    background-color: #00ADB5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}